* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-list {
  max-width: 70%;
  margin: 15% auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  flex-basis: 150px;
  height: 150px;
  flex-grow: 1;
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.active {
  flex-grow: 5;
}
